{% extends 'music/base.html' %}{{file.name}}

{%load static%}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/music/css/style.css">
    <title>Music</title>
</head>

    <body>
        <div>
            <button>Music Genre</button>
            <h1>Genre</h1>
        </div>

        <script src="static/music/js/script.js">

        </script>
    </body>
</html>